.book:focus {
    box-shadow: 15px  20px 10px rgba(0, 0, 0, 0.3);
}

.image-zoom-container {
  overflow: hidden;
  position: relative;
}

.image-zoom {
  transition: transform 0.3s ease;
}

.image-zoom:hover {
  transform: scale(1.3);
}
