.fromDiv  {
  box-shadow: -1px 2px 5px 5px rgba(117, 116, 116, 0.117);
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  transition: box-shadow 0.2s ease-in-out;

}
.fromDiv:hover {
    box-shadow: 0 0 20px rgba(3, 55, 168, 0.841); /* বক্সে গ্লো এফেক্ট */
  }
.books:hover {
  box-shadow: 0 0 20px rgba(3, 55, 168, 0.841); /* বক্সে গ্লো এফেক্ট */
}

.fromDiv:focus {
    box-shadow: 30px 30px 20px rgba(3, 55, 168, 0.841); /* বক্সে গ্লো এফেক্ট */
  }
.formInput{
    position: relative;
    border: 1px solid #fff; /* ইনপুট এলিমেন্টের বর্ডার */
    box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.3);
    border: none; /* বর্ডার মুছে ফেলুন */
    border-bottom: 2px solid #ccc; /* নিচের বর্ডার মাত্রা */
    outline: none;
}


.formInput:focus {
    box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.3); /* ফোকাস হলে শ্যাডো যোগ করুন */
  }
.imageR{
    mix-blend-mode: darken;
    /* width: 100%;
    height: 100%; */
}
.footerA {
  box-shadow: 10px 10px 10px 10px black;
 
}
.fromDivNav  {
  box-shadow: -1px 2px 5px 5px rgba(117, 116, 116, 0.117);
  background-color: #ffffff;
  border: 1px solid #ffffff;
  transition: box-shadow 0.4s ease-in-out;
  padding: 20px;
  

}
.fromDivNav:hover {
    box-shadow: 0 0 20px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }

.fromDivNav:focus {
    box-shadow: 510px 510px 510px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }
.fromDivNavD  {
  box-shadow: -1px 2px 5px 5px rgba(117, 116, 116, 0.117);
  background-color: #ffffff;
  border: 1px solid #2211d5;
  transition: box-shadow 0.4s ease-in-out;

  

}
.fromDivNavD:hover {
    box-shadow:0px 0px 20px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }

.fromDivNavD:focus {
    box-shadow: 510px 510px 510px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }
.fromDivNavDN  {
  box-shadow: 20px 20px 20px 20px rgba(117, 116, 116, 0.117);
  background-color: #fdfdfd;
  border: 1px solid #efefef;
  transition: box-shadow 0.4s ease-in-out;
  border-radius: 15px 15px 15px 15px ;

  

}
.fromDivNavDN:hover {
    box-shadow:0px 0px 20px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }

.fromDivNavDN:focus {
    box-shadow: 510px 510px 510px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }
.fromDivP {
  box-shadow: -1px 2px 5px 5px rgba(117, 116, 116, 0.117);
  background-color: #ffffff;
  border: 1px solid #ffffff;
  transition: box-shadow 0.4s ease-in-out;
  padding: 20px;
  

}
.fromDivNavP:hover {
    box-shadow: 0 0 20px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }

.fromDivNavP:focus {
    box-shadow: 510px 510px 510px rgba(2, 82, 255, 0.841); /* বক্সে গ্লো এফেক্ট */
  }